.body{
  background-color: #f3a0a0;
}

.brand-logo{
  -webkit-text-stroke: 1px black;
  /*Make the text little more big*/
  font-size: 2.7em !important;
}

canvas{
  background-color: #f3a0a0;
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;

  max-width: 600px;
}
.input{
  padding: 25px;
}

.canvas{
  padding: 10px;
}


.drag-and-drop{
  /*drag-and-drop have 2 elements, make a column*/
  display: flex;
  flex-direction: column;
  /*make the column have the same width as the row*/
  width: 100%;
  /*make the column have the same height as the row*/
  height: 100%;
  /*make the column have the same height as the row*/
  align-items: center;
}

.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;  
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 0.5em 1em;
  transition: 0.3s;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
  cursor: pointer; /* "hand" cursor */
}


.socialinput {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 0.5em 1em;
  transition: 0.3s;
}

.socialinput:focus ,
.socialinput:hover {
  background-color: blue;
  cursor: pointer; /* "hand" cursor */

}

@keyframes lgbtq-background-animation{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
}


.lgbtq-background {
  background: linear-gradient(to right, #E50000, #FF8D00, #FFEE00, #008121, #004CFF, #760188, #E50000);
  background-size: 400% 200%;
  animation: lgbtq-background-animation 20s linear infinite;
}
